<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<header th:replace="fragments/head.html :: headFragment"></header>

<body class="body-wrapper">


<header th:replace="fragments/header.html :: headerFragment"></header>

<section class="login py-5 border-top-1">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-8 align-item-center">
        <div class="border border">
          <h3 class="bg-gray p-4">Register Now</h3>
          <form id="register" action="/mbr/register/add" method="post" onsubmit="return joinChk()">
            <fieldset class="p-4">
                <span style="margin: 5px 0px">
              <input type="radio" id="mbrSex1" name="mbrSex" placeholder="sex" value="male" required> male
              <input type="radio" id="mbrSex2" name="mbrSex" placeholder="sex" value="female" required> female
                </span>
              <input class="form-control mb-3" type="email" id="email" name="mbrEmail" placeholder="Email*" required>
              <input class="form-control mb-3" type="name" id="name" name="mbrNm" placeholder="Name*" required>
              <input class="form-control mb-3" type="tel" id="mobilNo" name="mobilNo" placeholder="phone*" required>
              <input class="form-control mb-3" type="date" id="mbrBrthdy" name="mbrBrthdy" placeholder="birthday*" required>
              <input class="form-control mb-3" type="password" id="password" name="mbrPwd" placeholder="Password*" required>
              <input class="form-control mb-3" type="password" id="passwordcfm" placeholder="Confirm Password*" required>
              <div class="loggedin-forgot d-inline-flex my-3">
                <input type="checkbox" id="registering" class="mt-1">
                <label for="registering" class="px-2">By registering, you accept our <a class="text-primary font-weight-bold" href="terms-condition.html">Terms & Conditions</a></label>
              </div>
              <button id="join" type="submit" class="btn btn-primary font-weight-bold mt-3" >Register Now</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!--============================
=            Footer            =
=============================-->

<footer th:replace="fragments/footer.html :: footerFragment"></footer>

<!-- 
Essential Scripts
=====================================-->
<script src="/plugins/jquery/jquery.min.js"></script>
<script src="/plugins/bootstrap/popper.min.js"></script>
<script src="/plugins/bootstrap/bootstrap.min.js"></script>
<script src="/plugins/bootstrap/bootstrap-slider.js"></script>
<script src="/plugins/tether/js/tether.min.js"></script>
<script src="/plugins/raty/jquery.raty-fa.js"></script>
<script src="/plugins/slick/slick.min.js"></script>
<script src="/plugins/jquery-nice-select/js/jquery.nice-select.min.js"></script>
<!-- google map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU" defer></script>
<script src="/plugins/google-map/map.js" defer></script>

<script src="/js/script.js"></script>

<script>
    // function submit(){
    //     callAjax('mbr/register/add','post','register', '');
    // }
    //
    // //TODO ajax 호출 공통
    // function callAjax(callUrl, callType, callFormName, successFunction){
    //     blur();
    //     $.ajax({
    //         url      : callUrl,
    //         type     : callType,
    //         data     : $('#' + callFormName).serialize(),
    //         dataType : 'json',
    //         success  : function(data){
    //         }
    //     });
    // }

    $(document).ready(function(){
        $('#join').click(function(){
            joinChk();
        });
    });

    // validation check
    joinChk = function(){
        var email = $("#email").val();
        var pw = $("#password").val();
        var checkPW = $("#passwordcfm").val();
        var name = $("#name").val();
        let agrChk = $('#registering').is(':checked');
        var num = pw.search(/[0-9]/g);
        var eng = pw.search(/[a-z]/ig);
        var spe = pw.search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/gi);


        //이메일 정규식
        // var emaliRegExp = /^[0-9a-zA-Z][0-9a-zA-Z\_\-\.\+]+[0-9a-zA-Z]@[0-9a-zA-Z][0-9a-zA-Z\_\-]*[0-9a-zA-Z](\.[a-zA-Z]{2,6}){1,2}$/i;
        //비밀번호 정규식 : #?!@$%^&*- 만 허용
        // var pwRegExp = /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$/;

        if(email == "" || email == null){
            alert("이메일을 꼭 입력해주세요");
            return false;
        }else if(email.match(emaliRegExp) == null){
            alert("이메일 형식을 맞춰주세요");
            return false;
        }else if(pw == "" || pw == null){
            alert("비밀번호를 꼭 입력해주세요");
            return false;
        }else if((pw.length < 8) && (pw.length > 20)){
            alert("비밀번호는 8자리 이상 20 자리 이하만 가능합니다.");
            return false;
        }else if(pw.search(/\s/) != -1){
            alert("비밀번호는 공백 없이 입력해주세요.");
            return false;
        }
        // else if(!pw.match(pwRegExp)){
        //     alert("비밀번호는 영문(대소문자구분),숫자,특수문자(#?!@$%^&*- 만 허용)를 혼용하여 입력해주세요");
        //     return false;
        // }
        else if(num < 0 || eng < 0 || spe < 0 ){
            alert("영문,숫자, 특수문자를 혼합하여 입력해주세요.");
            return false;
        }else if(checkPW == "" || checkPW == null){
            alert("비밀번호확인을 꼭 입력해주세요");
            return false;
        }else if(pw != checkPW){
            alert("비밀번호와 비밀번호확인이 일치하지 않습니다.");
            return false;
        }else if(name == "" || name == null){
            alert("이름을 꼭 입력해주세요");
            return false;
        }else if(!agrChk){
            alert('이용약관에 동의해주세요');
            return false;
        }else{
            return true;
        }
    }

    //비밀번호 유효성 검사
    // function chkPW(){
    //
    //     var pw = $("#password").val();
    //     var num = pw.search(/[0-9]/g);
    //     var eng = pw.search(/[a-z]/ig);
    //     var spe = pw.search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/gi);
    //
    //     if(pw.length < 8 || pw.length > 20){
    //
    //         alert("8자리 ~ 20자리 이내로 입력해주세요.");
    //         return false;
    //     }else if(pw.search(/\s/) != -1){
    //         alert("비밀번호는 공백 없이 입력해주세요.");
    //         return false;
    //     }else if(num < 0 || eng < 0 || spe < 0 ){
    //         alert("영문,숫자, 특수문자를 혼합하여 입력해주세요.");
    //         return false;
    //     }else {
    //         console.log("통과");
    //         return true;
    //     }
    //
    // }



</script>


</body>

</html>